[submodule "engine/3rdparty/googletest"]
	path = engine/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "engine/3rdparty/jsoncpp"]
	path = engine/3rdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "engine/3rdparty/libuv"]
	path = engine/3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "engine/3rdparty/googlebench"]
	path = engine/3rdparty/googlebench
	url = https://github.com/google/benchmark.git
[submodule "engine/3rdparty/fmt"]
	path = engine/3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "engine/3rdparty/concurrentqueue"]
	path = engine/3rdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
